/**
 * @Author: Ali
 * @Date:   2019-01-05T09:14:40+01:00
 * @Last modified by:   Ali
 * @Last modified time: 2019-01-06T15:55:48+01:00
 */

.App {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #F8EFBA;
  justify-content: center;
  display: flex;

}
.todos {
  box-shadow: 10px 10px 5px #0f0f0f;
  border-radius: 5px;
}

.toptitle {
  background: #EAB543;
  margin-bottom: 20px;
  height: 80px;
  font-size: 35px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  box-shadow: 10px 10px 5px #0f0f0f;
  border-radius: 5px;
  margin-top: 20px;
}

.input {
  padding: 10px;
  text-align: center;
  background: #1F2124;
  border: none;
  border-radius: 2px;
  color: #03E1A4;
  margin-left: 60px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 5px #0f0f0f;
  border-radius: 5px;
}
.myButton {
margin-top: 15px;
border: none;

margin-right: 0px;
margin-left: 25px;
font-size: 20px;
padding: 8px;
background: #EAB543;
margin-bottom: 10px;
box-shadow: 10px 10px 5px #0f0f0f;
border-radius: 5px;
}
.myButton:hover {
  cursor: pointer;
  background: #E91E63;
  color: #1ec0ff;
}
.addButton {
  padding: 10px;
  background: #1F2124;
  color: #3ae374;
  font-size: 16px;
  box-shadow: 10px 10px 5px #0f0f0f;
  border-radius: 5px;
  border: none;
  margin-left: 5px;
}
